# Backend Server Configuration
PORT=3000

# PostgreSQL Database
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432
DB_NAME=car_rental_app

# App URL (untuk development)
APP_URL=http://localhost:3000
